<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>New Student</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>		
	<body>
		<div align="center">
			<h1>Create New Student</h1>
			<br/>
			<div class="col-sm-4">
				<form action="#" th:action="@{/saveStudent}" th:object="${student}"method="post">
					<div align="left">
						<tr>
							<label class="form-label">Student Name</label>
							<td>
								<input type="hidden" th:field="*{student_id}"/>
								<input type="text" th:field="*{student_name}" classs="form-control" placeholder="student_name"/>
							</td>
						</tr>
					</div>
					
					<div align="left">
						<tr>
							<label class="form-label">Course Name</label>
							<td>
								<input type="text" th:field="*{course_name}" classs="form-control" placeholder="course_name"/>
							</td>
						</tr>
					</div>
					
					<div align="left">
						<tr>
							<label class="form-label">Course Fees</label>
							<td>
								<input type="text" th:field="*{course_fees}" classs="form-control" placeholder="course_fees"/>
							</td>
						</tr>
					</div>
					
					<br>
					<tr>
						<td colspan="2">
							<button type="submit" class="btn btn-info">Save</button>
						</td>
					</tr>
				</form>
			</div>	
		</div>
	</body>
</html>